In [57]:
import pandas as pd
import numpy as np

ss = '/Users/samrioboli/DS440/Data/QB_Dataframe.csv'

df = pd.read_csv(ss)
df.head(5)

   Unnamed: 0         Player     Rk   Tm  Age Pos   G  GS  Win  Loss  Tie   Cmp   Att   Cmp%    Yds   TD   TD%  Int  Int%   1D    Lng   Y/A  AY/A    Y/C     Y/G   Rate   Sk  Yds.1    Sk%  NY/A  ANY/A  4QC  GWD  Year
0  0           A.J. Feeley    41.33  MIA  27   QB  18  13  7    6     0    287   524   60.30  3047   19   7.10  21   4.83  153  39.33  7.37  6.60  12.00  161.20  83.70  30   184    3.47   6.94  6.21   3    4    2004
1  1           A.J. McCarron  50.50  CIN  27   QB  10  3   2    1     0    86    133   58.20  920    6    2.50  2    0.85  50   46.50  5.95  6.05  10.10  72.00   80.25  13   72     7.95   4.92  5.04   0    0    2017
2  2           Aaron Rodgers  49.75  GNB  25   QB  23  16  6    10    0    376   595   57.83  4367   29   2.20  14   2.17  198  36.50  5.62  5.10  9.40   101.53  71.95  43   301    12.05  4.11  3.67   1    2    2008
3  3           Alex Smith     34.33  SFO  23   QB  32  30  11   19    0    435   800   52.57  4679   19   1.73  31   4.13  217  55.67  5.50  4.00  10.43  136.13  57.60  81   508    10.10  4.33  3.01   4    6    2007
4  4           Andrew Luck    13.75  IND  26   QB  55  55  35   20    0    1224  2106  57.83  14838  101  4.83  55   2.80  724  77.50  6.95  6.67  12.03  269.65  83.72  115  722    5.12   6.28  6.01   9    13   2015

Rounding stats to 2 decimals

In [58]:
#rounding to 2 decimals
for (columnName, columnData) in df.items():
    df[columnName] = df[columnName].apply(lambda x: round(x,2) if isinstance(x, float) else x)
df.head(5)

   Unnamed: 0         Player     Rk   Tm  Age Pos   G  GS  Win  Loss  Tie   Cmp   Att   Cmp%    Yds   TD   TD%  Int  Int%   1D    Lng   Y/A  AY/A    Y/C     Y/G   Rate   Sk  Yds.1    Sk%  NY/A  ANY/A  4QC  GWD  Year
0  0           A.J. Feeley    41.33  MIA  27   QB  18  13  7    6     0    287   524   60.30  3047   19   7.10  21   4.83  153  39.33  7.37  6.60  12.00  161.20  83.70  30   184    3.47   6.94  6.21   3    4    2004
1  1           A.J. McCarron  50.50  CIN  27   QB  10  3   2    1     0    86    133   58.20  920    6    2.50  2    0.85  50   46.50  5.95  6.05  10.10  72.00   80.25  13   72     7.95   4.92  5.04   0    0    2017
2  2           Aaron Rodgers  49.75  GNB  25   QB  23  16  6    10    0    376   595   57.83  4367   29   2.20  14   2.17  198  36.50  5.62  5.10  9.40   101.53  71.95  43   301    12.05  4.11  3.67   1    2    2008
3  3           Alex Smith     34.33  SFO  23   QB  32  30  11   19    0    435   800   52.57  4679   19   1.73  31   4.13  217  55.67  5.50  4.00  10.43  136.13  57.60  81   508    10.10  4.33  3.01   4    6    2007
4  4           Andrew Luck    13.75  IND  26   QB  55  55  35   20    0    1224  2106  57.83  14838  101  4.83  55   2.80  724  77.50  6.95  6.67  12.03  269.65  83.72  115  722    5.12   6.28  6.01   9    13   2015

Remove irrelevant positions

In [59]:
df['Pos'].value_counts()

QB    193
WR    2
TE    1
Name: Pos, dtype: int64

In [62]:
posv = 'WR'
posdf = df[df['Pos'] == posv]
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
posdf

/var/folders/1v/4jjjwf412c72096krz_f0hv00000gn/T/ipykernel_82540/1890581297.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

     Unnamed: 0      Player     Rk   Tm  Age Pos   G  GS  Win  Loss  Tie  Cmp  Att  Cmp%  Yds  TD  TD%  Int  Int%  1D   Lng   Y/A  AY/A   Y/C  Y/G   Rate  Sk  Yds.1   Sk%  NY/A  ANY/A  4QC  GWD  Year
13   13          Brad Smith  82.0   NYJ  26   WR  44  12  0    0     0    2    4    50.0  45   0   0.0  0    0.0   1   15.0  12.0  12.0  15.0  1.1  79.83  0   0      0.0   12.0  12.0   0    0    2009
149  149         Pat White   107.0  MIA  23   WR  13  0   0    0     0    0    5    0.0   0    0   0.0  0    0.0   0   0.0   0.0   0.0   0.0   0.0  39.60  1   9      16.7 -1.5  -1.5    0    0    2009

In [63]:
df.drop(df.loc[df['Pos']==posv].index, inplace=True)
df['Pos'].value_counts()

QB    193
Name: Pos, dtype: int64

In [64]:
df.to_csv(ss)