In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/samrioboli/DS440/Data/QB_DataFrame.csv')
df.head(5)

,Player,Rk,Tm,Age,Pos,G,GS,Win,Loss,Tie,...,Y/G,Rate,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Year
0,A.J. Feeley,41.333333,MIA,27,QB,18,13,7,6,0,...,161.200000,83.700,30,184,3.466667,6.943333,6.210000,3,4,2004
1,A.J. McCarron,50.500000,CIN,27,QB,10,3,2,1,0,...,72.000000,80.250,13,72,7.950000,4.920000,5.035000,0,0,2017
2,Aaron Rodgers,49.750000,GNB,25,QB,23,16,6,10,0,...,101.525000,71.950,43,301,12.050000,4.112500,3.670000,1,2,2008
3,Alex Smith,34.333333,SFO,23,QB,32,30,11,19,0,...,136.133333,57.600,81,508,10.100000,4.326667,3.006667,4,6,2007
4,Andrew Luck,13.750000,IND,26,QB,55,55,35,20,0,...,269.650000,83.725,115,722,5.125000,6.280000,6.010000,9,13,2015

In [2]:
#rounding to 2 decimals
for (columnName, columnData) in df.items():
    df[columnName] = df[columnName].apply(lambda x: round(x,2) if isinstance(x, float) else x)
df.head(5)

,Player,Rk,Tm,Age,Pos,G,GS,Win,Loss,Tie,...,Y/G,Rate,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Year
0,A.J. Feeley,41.33,MIA,27,QB,18,13,7,6,0,...,161.20,83.70,30,184,3.47,6.94,6.21,3,4,2004
1,A.J. McCarron,50.50,CIN,27,QB,10,3,2,1,0,...,72.00,80.25,13,72,7.95,4.92,5.04,0,0,2017
2,Aaron Rodgers,49.75,GNB,25,QB,23,16,6,10,0,...,101.53,71.95,43,301,12.05,4.11,3.67,1,2,2008
3,Alex Smith,34.33,SFO,23,QB,32,30,11,19,0,...,136.13,57.60,81,508,10.10,4.33,3.01,4,6,2007
4,Andrew Luck,13.75,IND,26,QB,55,55,35,20,0,...,269.65,83.72,115,722,5.12,6.28,6.01,9,13,2015

In [3]:
df.to_csv('/Users/samrioboli/DS440/Data/QB_DataFrame.csv')