In [470]:
import pandas as pd
import numpy as np

ss = '/Users/samrioboli/DS440/Data/Rushing_Dataframe.csv'

df = pd.read_csv(ss)
df.head(5)

          Player     Rk   Tm  Age Pos   G  GS  Att  Yds  TD  1D    Lng    Y/A   Y/G  Fmb  Year
0  A.J. Brown     246.5  TEN  24   WR  29  24  5    70   1   3   28.00  12.50  2.30  1    2021
1  A.J. Feeley    135.0  MIA  27   QB  17  13  26   19   1   2   6.50   0.70   1.10  12   2004
2  A.J. Green     210.0  CIN  26   WR  44  44  11   93   0   5   15.67  7.03   2.03  6    2014
3  A.J. Jenkins   242.5  KAN  25   WR  25  3   4    4    0   0   2.50   1.00   0.10  1    2014
4  A.J. McCarron  158.0  CIN  25   QB  7   3   14   31   0   3   16.00  2.20   4.40  1    2015

Rounding stats to 2 decimals

In [172]:
#rounding to 2 decimals
for (columnName, columnData) in df.items():
    df[columnName] = df[columnName].apply(lambda x: round(x,2) if isinstance(x, float) else x)
df.head(5)

           Player      Rk   Tm  Age  Pos   G  GS  Intcpt  IntYds  IntTD    Lng  PD  FF  Fmb  FR  FumYds  FumTD    Sk  Comb  Solo  Ast  TFL  QBHits  Sfty  Year
0  Aaron Ross      398.00  NYG  28   DB   49  26  6       109     2      23.25  21  0   1    0   0       0      2.5   140   114   26   9    7       0     2010
1  Aaron Rouse     278.33  2TM  25   FS   41  18  4       173     1      44.33  11  0   0    0   0       0      1.0   143   110   33   4    3       0     2009
2  Aaron Williams  234.50  BUF  24   FS   49  44  6       69      0      15.00  28  3   1    0   0       0      0.0   222   162   60   4    0       0     2014
3  Adam Archuleta  71.00   STL  27   SS   58  55  2       24      0      6.00   18  3   2    4   162     2      11.5  340   297   43   26   0       0     2004
4  Adam Jones      246.33  DAL  25   LCB  39  34  4       130     1      27.67  30  2   12   6   22      0      1.0   148   121   27   5    1       0     2008

Remove irrelevant positions

In [471]:
df['Pos'].value_counts()

RB     371
WR     368
QB     191
TE     45
FB     39
P      25
DB     12
LCB    3
RCB    3
NT     2
K      2
LG     2
C      2
LB     1
RDE    1
OL     1
LLB    1
SS     1
RLB    1
DT     1
LS     1
S      1
0      1
FS     1
Name: Pos, dtype: int64

In [472]:
posv = 'QB'
posdf = df[df['Pos'] == posv]
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
posdf

/var/folders/1v/4jjjwf412c72096krz_f0hv00000gn/T/ipykernel_20547/3642653598.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

                 Player      Rk   Tm  Age Pos   G  GS  Att   Yds  TD  1D    Lng   Y/A    Y/G  Fmb  Year
1     A.J. Feeley        135.00  MIA  27   QB  17  13  26   19    1   2   6.50   0.70  1.10   12   2004
4     A.J. McCarron      158.00  CIN  25   QB  7   3   14   31    0   3   16.00  2.20  4.40   1    2015
10    Aaron Rodgers      188.00  GNB  25   QB  23  16  67   254   4   26  12.00  4.20  8.80   13   2008
24    Alex Smith         105.33  SFO  23   QB  32  30  87   339   2   21  22.00  4.50  11.10  27   2007
42    Andrew Luck        77.75   IND  26   QB  55  55  222  1101  12  80  23.25  5.08  21.15  32   2015
...           ...          ...   ...  ..   ..  ..  ..  ...   ...  ..  ..    ...   ...    ...  ..    ...
1045  Tyler Thigpen      161.67  MIA  26   QB  21  12  77   462   3   25  15.33  4.43  14.57  7    2010
1047  Tyrod Taylor       210.50  BAL  25   QB  14  0   27   136   1   10  13.75  3.60  7.35   0    2014
1055  Vince Young        87.75   TEN  26   QB  45  39  239  1255  12  79  28.00  4.85  23.88  32   2009
1064  Will Grier         172.00  CAR  24   QB  2   2   7    22    0   2   11.00  3.10  11.00  1    2019
1072  Zach Mettenberger  188.50  TEN  24   QB  14  10  14   12    1   3   6.50   0.85  0.85   8    2015

[191 rows x 16 columns]

In [455]:
df = df.replace('OLB','DE')

In [474]:
#IF NEED TO COMBINE POSITIONS TO MOVE TO OTHER DATASET
posvalt = 'QB'
posaltdf = posaltdf.append(df[df['Pos'] == posvalt])
posaltdf

/var/folders/1v/4jjjwf412c72096krz_f0hv00000gn/T/ipykernel_20547/650322317.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posaltdf = posaltdf.append(df[df['Pos'] == posvalt])

                 Player      Rk   Tm  Age Pos   G  GS  Intcpt  IntYds  IntTD    Lng  PD  FF  Fmb  FR  FumYds  FumTD  Sk  Comb  Solo  Ast  TFL  QBHits  Sfty  Year    Att     Yds    TD    1D   Y/A    Y/G
1     A.J. Feeley        135.00  MIA  27   QB  17  13 NaN     NaN     NaN     6.50  NaN NaN  12  NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2004  26.0   19.0    1.0   2.0   0.70  1.10
4     A.J. McCarron      158.00  CIN  25   QB  7   3  NaN     NaN     NaN     16.00 NaN NaN  1   NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2015  14.0   31.0    0.0   3.0   2.20  4.40
10    Aaron Rodgers      188.00  GNB  25   QB  23  16 NaN     NaN     NaN     12.00 NaN NaN  13  NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2008  67.0   254.0   4.0   26.0  4.20  8.80
24    Alex Smith         105.33  SFO  23   QB  32  30 NaN     NaN     NaN     22.00 NaN NaN  27  NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2007  87.0   339.0   2.0   21.0  4.50  11.10
42    Andrew Luck        77.75   IND  26   QB  55  55 NaN     NaN     NaN     23.25 NaN NaN  32  NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2015  222.0  1101.0  12.0  80.0  5.08  21.15
...           ...          ...   ...  ..   ..  ..  ..  ..      ..      ..       ...  ..  ..  ..   ..  ..      ..     ..  ..    ..    ..   ..   ..      ..     ...    ...     ...   ...   ...   ...    ...
1045  Tyler Thigpen      161.67  MIA  26   QB  21  12 NaN     NaN     NaN     15.33 NaN NaN  7   NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2010  77.0   462.0   3.0   25.0  4.43  14.57
1047  Tyrod Taylor       210.50  BAL  25   QB  14  0  NaN     NaN     NaN     13.75 NaN NaN  0   NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2014  27.0   136.0   1.0   10.0  3.60  7.35
1055  Vince Young        87.75   TEN  26   QB  45  39 NaN     NaN     NaN     28.00 NaN NaN  32  NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2009  239.0  1255.0  12.0  79.0  4.85  23.88
1064  Will Grier         172.00  CAR  24   QB  2   2  NaN     NaN     NaN     11.00 NaN NaN  1   NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2019  7.0    22.0    0.0   2.0   3.10  11.00
1072  Zach Mettenberger  188.50  TEN  24   QB  14  10 NaN     NaN     NaN     6.50  NaN NaN  8   NaN NaN     NaN    NaN NaN   NaN   NaN  NaN  NaN     NaN    2015  14.0   12.0    1.0   3.0   0.85  0.85

[191 rows x 31 columns]

In [477]:
posaltdf = posaltdf.drop(columns=['FR', 'FumYds', 'FumTD', 'Sk', 'Comb', 'Solo', 'Ast', 'TFL', 'QBHits', 'Sfty', 'Year'])

In [478]:
posaltdf

                 Player    Lng  Fmb    Att     Yds    TD    1D   Y/A    Y/G
1     A.J. Feeley        6.50   12   26.0   19.0    1.0   2.0   0.70  1.10
4     A.J. McCarron      16.00  1    14.0   31.0    0.0   3.0   2.20  4.40
10    Aaron Rodgers      12.00  13   67.0   254.0   4.0   26.0  4.20  8.80
24    Alex Smith         22.00  27   87.0   339.0   2.0   21.0  4.50  11.10
42    Andrew Luck        23.25  32   222.0  1101.0  12.0  80.0  5.08  21.15
...           ...          ...  ..     ...     ...   ...   ...   ...    ...
1045  Tyler Thigpen      15.33  7    77.0   462.0   3.0   25.0  4.43  14.57
1047  Tyrod Taylor       13.75  0    27.0   136.0   1.0   10.0  3.60  7.35
1055  Vince Young        28.00  32   239.0  1255.0  12.0  79.0  4.85  23.88
1064  Will Grier         11.00  1    7.0    22.0    0.0   2.0   3.10  11.00
1072  Zach Mettenberger  6.50   8    14.0   12.0    1.0   3.0   0.85  0.85

[191 rows x 9 columns]

In [479]:
ssqb = '/Users/samrioboli/DS440/Data/QB_Dataframe.csv'
dfqb = pd.read_csv(ssqb)

In [485]:
newqbdf = dfqb.merge(posaltdf, on='Player', how='left')

In [486]:
newqbdf

                Player     Rk   Tm  Age Pos   G  GS  Win  Loss  Tie   Cmp  Att_x   Cmp%  Yds_x  TD_x   TD%  Int   Int%  1D_x  Lng_x  Y/A_x  AY/A    Y/C   Y/G_x   Rate   Sk  Yds.1    Sk%  NY/A  ANY/A  4QC  GWD  Year  Lng_y   Fmb  Att_y   Yds_y  TD_y  1D_y  Y/A_y  Y/G_y
0    A.J. Feeley        41.33  MIA  27   QB  18  13  7    6     0    287   524    60.30  3047   19    7.10  21   4.83   153   39.33  7.37   6.60  12.00  161.20  83.70  30   184    3.47   6.94  6.21   3    4    2004  6.50   12.0  26.0   19.0    1.0   2.0   0.70   1.10
1    A.J. McCarron      50.50  CIN  27   QB  10  3   2    1     0    86    133    58.20  920    6     2.50  2    0.85   50    46.50  5.95   6.05  10.10  72.00   80.25  13   72     7.95   4.92  5.04   0    0    2017  16.00  1.0   14.0   31.0    0.0   3.0   2.20   4.40
2    Aaron Rodgers      49.75  GNB  25   QB  23  16  6    10    0    376   595    57.83  4367   29    2.20  14   2.17   198   36.50  5.62   5.10  9.40   101.53  71.95  43   301    12.05  4.11  3.67   1    2    2008  12.00  13.0  67.0   254.0   4.0   26.0  4.20   8.80
3    Alex Smith         34.33  SFO  23   QB  32  30  11   19    0    435   800    52.57  4679   19    1.73  31   4.13   217   55.67  5.50   4.00  10.43  136.13  57.60  81   508    10.10  4.33  3.01   4    6    2007  22.00  27.0  87.0   339.0   2.0   21.0  4.50   11.10
4    Andrew Luck        13.75  IND  26   QB  55  55  35   20    0    1224  2106   57.83  14838  101   4.83  55   2.80   724   77.50  6.95   6.67  12.03  269.65  83.72  115  722    5.12   6.28  6.01   9    13   2015  23.25  32.0  222.0  1101.0  12.0  80.0  5.08   21.15
..           ...          ...  ...  ..   ..  ..  ..  ..   ..   ..     ...   ...     ...    ...  ...    ...  ..    ...   ...     ...   ...    ...    ...     ...    ...  ...  ...     ...    ...   ...  ..    ..    ...    ...   ...    ...     ...   ...   ...   ...     ...
188  Tyler Thigpen      53.00  MIA  26   QB  22  12  1    11    0    269   496    47.83  3167   21    5.00  17   11.95  147   41.50  7.60   3.23  16.45  88.95   63.67  35   221    7.88   6.48  2.41   0    1    2010  15.33  7.0   77.0   462.0   3.0   25.0  4.43   14.57
189  Tyrod Taylor       66.33  BAL  24   QB  13  0   0    0     0    19    35     59.53  199    0     0.00  2    7.80   8     15.00  8.20   4.67  10.17  10.77   60.33  5    33     25.37  3.35 -0.12   0    0    2013  13.75  0.0   27.0   136.0   1.0   10.0  3.60   7.35
190  Vince Young        30.00  TEN  26   QB  45  39  26   13    0    596   1034   58.40  6843   32    3.12  39   4.10   350   61.50  6.58   5.30  11.28  136.47  71.28  62   335    5.92   5.86  4.72   7    11   2009  28.00  32.0  239.0  1255.0  12.0  79.0  4.85   23.88
191  Will Grier         53.00  CAR  24   QB  2   2   0    2     0    28    52     53.80  228    0     0.00  4    7.70   12    28.00  4.40   0.90  8.10   114.00  33.20  6    44     10.30  3.17  0.07   0    0    2019  11.00  1.0   7.0    22.0    0.0   2.0   3.10   11.00
192  Zach Mettenberger  38.00  TEN  24   QB  14  10  0    10    0    208   345    60.30  2347   12    3.45  14   4.05   102   68.50  6.75   5.60  11.25  167.65  75.05  31   236    8.20   5.57  4.52   0    0    2015  6.50   8.0   14.0   12.0    1.0   3.0   0.85   0.85

[193 rows x 41 columns]

In [ ]:
newqbdf.to_csv('/Users/samrioboli/DS440/Data/QBMerged_Dataframe.csv',index= False)

In [473]:
posaltdf = posaltdf.iloc[0:0]

In [433]:
df.drop(df.loc[df['Pos']==posv].index, inplace=True)
df['Pos'].value_counts()

LB      326
RLB     55
MLB     54
LLB     43
LILB    24
RILB    21
Name: Pos, dtype: int64

Drop dead columns

In [419]:
df

            Player      Rk   Tm  Age Pos    G  GS  Intcpt  IntYds  IntTD   Lng  PD  FF  Fmb  FR  FumYds  FumTD    Sk  Comb  Solo  Ast  TFL  QBHits  Sfty  Year
0    A.J. Epenesa   602.33  BUF  24   DE  43   3   0       0       0      0.00  7   2   0    1   0       0      9.0   44    32    12   12   23      0     2022
1    Aaron Kampman  349.25  GNB  26   DE  56   48  0       0       0      0.00  8   6   0    2   3       0      13.5  203   138   65   20   0       0     2005
2    Aaron Lynch    532.25  SFO  24   DE  44   19  0       0       0      0.00  7   0   0    1   0       0      15.0  83    64    19   29   46      0     2017
3    Aaron Maybin   781.25  NYJ  24   DE  48   1   0       0       0      0.00  0   5   0    0   0       0      6.0   37    27    10   5    10      0     2012
4    Aaron Schobel  276.00  BUF  27   DE  64   59  1       6       0      1.50  13  7   0    4   0       0      34.5  227   148   79   43   0       0     2004
..             ...     ...  ...  ..   ..  ..   .. ..      ..      ..       ...  .. ..  ..   ..  ..      ..       ...  ...   ...   ..   ..  ..      ..      ...
368  David Veikune  931.00  DEN  25   DE  4    0   0       0       0      0.00  0   0   0    0   0       0      0.0   5     3     2    0    0       0     2010
369  Jason Babin    345.67  HOU  26   DE  43   22  0       0       0      0.00  7   2   0    2   22      0      13.0  126   96    30   25   8       0     2006
370  Larry English  604.75  SDG  26   DE  43   4   0       0       0      0.00  1   1   0    2   0       0      8.5   73    51    22   8    15      0     2012
371  Shawn Crable   949.00  NWE  26   DE  6    0   0       0       0      0.00  0   0   0    0   0       0      0.5   4     2     2    0    1       0     2010
372  Chris Clemons  369.38  SEA  31   DE  120  80  3       29      0      3.62  23  9   0    4  -3       0      38.0  337   251   86   41   74      0     2012

[373 rows x 25 columns]

In [119]:
del df[df.columns[0]]

In [457]:
df.to_csv(ss,index= False)
#df.to_csv(ss)

In [435]:
## MERGE EXTRA POSITIONS TO RIGHT DF
ss2 = '/Users/samrioboli/DS440/Data/DE_Dataframe.csv'
df2 = pd.read_csv(ss2)
df2

            Player      Rk   Tm  Age Pos    G  GS  Intcpt  IntYds  IntTD   Lng  PD  FF  Fmb  FR  FumYds  FumTD    Sk  Comb  Solo  Ast  TFL  QBHits  Sfty  Year
0    A.J. Epenesa   602.33  BUF  24   DE  43   3   0       0       0      0.00  7   2   0    1   0       0      9.0   44    32    12   12   23      0     2022
1    Aaron Kampman  349.25  GNB  26   DE  56   48  0       0       0      0.00  8   6   0    2   3       0      13.5  203   138   65   20   0       0     2005
2    Aaron Lynch    532.25  SFO  24   DE  44   19  0       0       0      0.00  7   0   0    1   0       0      15.0  83    64    19   29   46      0     2017
3    Aaron Maybin   781.25  NYJ  24   DE  48   1   0       0       0      0.00  0   5   0    0   0       0      6.0   37    27    10   5    10      0     2012
4    Aaron Schobel  276.00  BUF  27   DE  64   59  1       6       0      1.50  13  7   0    4   0       0      34.5  227   148   79   43   0       0     2004
..             ...     ...  ...  ..   ..  ..   .. ..      ..      ..       ...  .. ..  ..   ..  ..      ..       ...  ...   ...   ..   ..  ..      ..      ...
368  David Veikune  931.00  DEN  25   DE  4    0   0       0       0      0.00  0   0   0    0   0       0      0.0   5     3     2    0    0       0     2010
369  Jason Babin    345.67  HOU  26   DE  43   22  0       0       0      0.00  7   2   0    2   22      0      13.0  126   96    30   25   8       0     2006
370  Larry English  604.75  SDG  26   DE  43   4   0       0       0      0.00  1   1   0    2   0       0      8.5   73    51    22   8    15      0     2012
371  Shawn Crable   949.00  NWE  26   DE  6    0   0       0       0      0.00  0   0   0    0   0       0      0.5   4     2     2    0    1       0     2010
372  Chris Clemons  369.38  SEA  31   DE  120  80  3       29      0      3.62  23  9   0    4  -3       0      38.0  337   251   86   41   74      0     2012

[373 rows x 25 columns]

In [436]:
df2 = df2.append(posaltdf)
df2

/var/folders/1v/4jjjwf412c72096krz_f0hv00000gn/T/ipykernel_20547/1529704410.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(posaltdf)

               Player      Rk   Tm  Age   Pos   G  GS  Intcpt  IntYds  IntTD   Lng  PD  FF  Fmb  FR  FumYds  FumTD    Sk  Comb  Solo  Ast  TFL  QBHits  Sfty  Year
0    A.J. Epenesa      602.33  BUF  24   DE    43  3   0       0       0      0.00  7   2   0    1   0       0      9.0   44    32    12   12   23      0     2022
1    Aaron Kampman     349.25  GNB  26   DE    56  48  0       0       0      0.00  8   6   0    2   3       0      13.5  203   138   65   20   0       0     2005
2    Aaron Lynch       532.25  SFO  24   DE    44  19  0       0       0      0.00  7   0   0    1   0       0      15.0  83    64    19   29   46      0     2017
3    Aaron Maybin      781.25  NYJ  24   DE    48  1   0       0       0      0.00  0   5   0    0   0       0      6.0   37    27    10   5    10      0     2012
4    Aaron Schobel     276.00  BUF  27   DE    64  59  1       6       0      1.50  13  7   0    4   0       0      34.5  227   148   79   43   0       0     2004
..             ...        ...  ...  ..   ..    ..  .. ..      ..      ..       ...  .. ..  ..   ..  ..      ..       ...  ...   ...   ..   ..  ..      ..      ...
216  Jarvis Jones      440.75  PIT  27   ROLB  50  35  2       25      0      6.25  9   4   0    3   0       0      6.0   130   84    46   11   17      0     2016
473  Tully Banta-Cain  566.75  NWE  26   ROLB  54  5   1       4       0      1.00  1   1   0    1   0       0      8.5   90    63    27   7    10      0     2006
151  Derrek Tuszka     739.67  2TM  26   OLB   39  1   0       0       0      0.00  0   1   0    0   0       0      2.0   40    21    19   2    2       0     2022
310  Mack Wilson       319.25  NWE  24   OLB   60  31  1       21      0      5.25  10  2   0    0   0       0      2.5   199   122   77   7    4       0     2022
453  Terrell Lewis     679.67  LAR  24   OLB   30  7   1       0       0      0.00  3   1   0    0   0       0      6.0   40    27    13   8    10      0     2022

[389 rows x 25 columns]

In [437]:
#FIX INDEXING AND EXTRA COLUMNS
df2.to_csv('/Users/samrioboli/DS440/Data/DEtest_Dataframe.csv',index= False)

In [438]:
sstest = '/Users/samrioboli/DS440/Data/DEtest_Dataframe.csv'
dftest = pd.read_csv(sstest)
dftest

               Player      Rk   Tm  Age   Pos   G  GS  Intcpt  IntYds  IntTD   Lng  PD  FF  Fmb  FR  FumYds  FumTD    Sk  Comb  Solo  Ast  TFL  QBHits  Sfty  Year
0    A.J. Epenesa      602.33  BUF  24   DE    43  3   0       0       0      0.00  7   2   0    1   0       0      9.0   44    32    12   12   23      0     2022
1    Aaron Kampman     349.25  GNB  26   DE    56  48  0       0       0      0.00  8   6   0    2   3       0      13.5  203   138   65   20   0       0     2005
2    Aaron Lynch       532.25  SFO  24   DE    44  19  0       0       0      0.00  7   0   0    1   0       0      15.0  83    64    19   29   46      0     2017
3    Aaron Maybin      781.25  NYJ  24   DE    48  1   0       0       0      0.00  0   5   0    0   0       0      6.0   37    27    10   5    10      0     2012
4    Aaron Schobel     276.00  BUF  27   DE    64  59  1       6       0      1.50  13  7   0    4   0       0      34.5  227   148   79   43   0       0     2004
..             ...        ...  ...  ..   ..    ..  .. ..      ..      ..       ...  .. ..  ..   ..  ..      ..       ...  ...   ...   ..   ..  ..      ..      ...
384  Jarvis Jones      440.75  PIT  27   ROLB  50  35  2       25      0      6.25  9   4   0    3   0       0      6.0   130   84    46   11   17      0     2016
385  Tully Banta-Cain  566.75  NWE  26   ROLB  54  5   1       4       0      1.00  1   1   0    1   0       0      8.5   90    63    27   7    10      0     2006
386  Derrek Tuszka     739.67  2TM  26   OLB   39  1   0       0       0      0.00  0   1   0    0   0       0      2.0   40    21    19   2    2       0     2022
387  Mack Wilson       319.25  NWE  24   OLB   60  31  1       21      0      5.25  10  2   0    0   0       0      2.5   199   122   77   7    4       0     2022
388  Terrell Lewis     679.67  LAR  24   OLB   30  7   1       0       0      0.00  3   1   0    0   0       0      6.0   40    27    13   8    10      0     2022

[389 rows x 25 columns]

In [439]:
dftest.to_csv(ss2,index= False)